{% extends "website/pagina_estatica.html" %}
{% load static %}

{% block titulo_extra %} | Entenda o Legislativo {% endblock %}

{% block head_title %}Entenda o Legislativo{% endblock %}

{% block conteudo %}
  <div class="conteudo-principal container">
    <div class="row">
      <div class="col-md-12">
         <picture>
           <source media="(min-width: 1024px)" srcset="{% static 'img/entenda-legislativo.png' %}">
                 <img src="{% static 'img/entenda-legislativo-pequeno.png' %}" class="img-responsive" alt="Infográfico: Entenda o Legislativo">
         </picture>
	 <p>Infográfico por Daniel Roda e Kimberly Anastácio</p>
      </div>
    </div>
  </div>

  {% block conteudo_extra %}
  <br />
  <div class="divider-horizontal"></div>
  {% endblock %}

{% endblock conteudo %}
