.pagina-index {
  .arrow-bottom {
    margin-top: 60px;
  }

  .links-principais {
    background-color: @powder-blue;
    padding-top: 8px;
    padding-bottom: 8px;

    ul {
      margin-bottom: 0;
      margin-left: 0;

      li:first-child {
        border: none;
      }

      @media only screen and (min-width: @screen-sm-min) {
        li:first-child {
          width: 50%;
          text-align: right;
          .make-right-divider(1px, @iris);
        }
      }
    }

    a {
      color: @iris;
      font-size: 16px;
      font-weight: 500;
      line-height: 20px;
      padding: 10px 20px;
    }

    svg {
      height: 20px;
      margin-right: 16px;
      width: 20px;
      transform: translateY(5px);
    }
  }

  .barra-busca {
    padding-top: 17px;
    padding-bottom: 17px;
  }

  .conteudo-principal [class*="col-"] {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .pls-filtros {
    background-color: @grey-bg-filters;

    h3 {
      font-size: 15px;
      font-weight: bold;
    }

    label {
      text-transform: lowercase;
      margin: 5px;
    }

    .filtro-impacto .btn {
      padding: 9px;

      img {
        width: 19px;
        height: 19px;
      }
    }
  }

  .filtro-lateral {
    > .btn input[type="radio"],
    > .btn-group > .btn input[type="radio"],
    > .btn input[type="checkbox"],
    > .btn-group > .btn input[type="checkbox"] {
      position: absolute;
      clip: rect(0, 0, 0, 0);
      pointer-events: none;
    }
  }

  // busca e ordenar por ultimas tramitações
  input#id_q,
  select#id_ordem {
    height: 60px;
}
}